.favourite-star{
    box-shadow: 0px 0px 10px rgba(50, 62, 200, 0.2);
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    top:30px;
    right:20px;
    cursor: pointer;
    @include transition;

    &:hover{
        background-color:$primary-light-button-hover;
    }

    @include down(md){
        top:20px;
        right:20px;
    }

    &.filled,
    &:hover{
        
        svg{
            fill:$cheese;

            path{
                stroke: $cheese;
            }
        }
    }
}